<?xml version='1.0' encoding='UTF-8'?>
<jsp:root xmlns:jsp="http://java.sun.com/JSP/Page" version="2.1" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html"
          xmlns:af="http://xmlns.oracle.com/adf/faces/rich">
  <jsp:directive.page contentType="text/html;charset=UTF-8"/>
  <f:view>
    <af:document title="Session Timeout Example" id="d1">
      <af:resource type="javascript" source="js/timeout.js"/>
      <af:clientListener method="onLoad" type="load"/>
      <af:form id="f1">
        <af:outputText clientComponent="true" id="ot3"/>
        <af:panelFormLayout id="pfl1">
          <af:resource type="javascript" source="js/session.js"/>
          <af:inputText label="First Name" autoSubmit="true" id="it1"/>
          <af:inputText label="Last Name" id="it2"/>
          <af:inputText label="Address" id="it3"/>
          <af:commandButton partialSubmit="true" text="Reset Counter" id="cb"/>
        </af:panelFormLayout>
      </af:form>
    </af:document>
  </f:view>
</jsp:root>
